@use '../variables' as *;
@use '../mixins' as *;

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 80px 24px;
  background-color: $white;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  &__card {
    @include panel-on-white;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    transition: 0.25s ease-in-out;

    &:hover {
      margin-bottom: -10px;
      padding: 5px 0;
      box-shadow: -10px 10px 25px #00000040;
    }

    &-icon {
      width: 56px;
      aspect-ratio: 1;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &.nerd {
        background-image: url("../../images/blocks/advantages/emoji1.png");

        &:hover {
          background-image: url("../../gif/emoji1.gif");
          background-size: 140%;
        }
      }

      &.wink {
        background-image: url("../../images/blocks/advantages/emoji2.png");

        &:hover {
          background-image: url("../../gif/emoji2.gif");
          background-size: 140%;
        }
      }

      &.cool {
        background-image: url("../../images/blocks/advantages/emoji3.png");

        &:hover {
          background-image: url("../../gif/emoji3.gif");
          background-size: 140%;
        }
      }
    }

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      background-color: $white;
      padding: 12px 16px;
    }

    &-title {
      @include desktop-text(h3);
      color: $black;
    }

    &-content {
      @include desktop-text(body);
      color: $grey;
      padding: 16px 24px 24px;
      background-color: rgba($white, 0.5);
    }
  }
}

@media (max-width: 900px) {
  .advantages__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .advantages {
    padding: 40px 20px;
    gap: 30px;

    .advantages__card-icon {
      width: 36px;
    }

    &__card-title {
      @include mobile-text(h3);
    }

    &__card-content {
      @include mobile-text(body);
      padding: 12px 16px;
    }
  }
}