@use "../mixins" as *;
@use "../variables" as *;

.feedback {
  padding: 80px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  gap: 16px;

  &__container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    &-description {
      @include desktop-text(body);
      color: $grey
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      &-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
      }

      &-textarea {
        resize: none;
      }

      &-button {
        flex-shrink: 0;
      }

      &-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &__cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-bg {
      position: relative;
      width: 515px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        background-image: linear-gradient(to top, rgba($white, 0), rgba($white, 1));
      }

      &-image {
        filter: blur(160px);
      }
    }

    &-fg {
      position: absolute;
      bottom: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      &-image {
        border-radius: 0 0 100% 100%;
        overflow: hidden;
      }
    }
  }
}