@use '../variables' as *;
@use '../mixins' as *;

@keyframes hero1 {
  0% {
    left: 0;
    bottom: -125px;
  }
  25% {
    left: -50px;
    bottom: -50px;
  }
  50% {
    left: 75px;
    bottom: 0;
  }
  75% {
    left: 150px;
    bottom: -75px;
  }
  100% {
    left: 0;
    bottom: -125px;
  }
}

@keyframes hero2 {
  0% {
    left: 0;
    bottom: -125px;
  }
  25% {
    left: 100px;
    bottom: -75px;
  }
  50% {
    left: 200px;
    bottom: 25px;
  }
  75% {
    left: 450px;
    bottom: 50px;
  }
  100% {
    left: 0;
    bottom: -125px;
  }
}

@keyframes scale-out1 {
  to {
    scale: 0.8;
    bottom: 30%;
  }
}

@keyframes scale-out2 {
  to {
    scale: 0.8;
    top: 25%;
  }
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -125px;
    width: 500px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: $blue;
    z-index: -3;
    animation: hero1 10s ease infinite;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -125px;
    width: 300px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: $purple;
    z-index: -3;
    animation: hero2 10s ease infinite;
  }

  &__content {
    padding: 120px 56px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  &__title {
    @include desktop-text(h1);
    color: $black;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    &-label {
      width: 80%;
      background-color: rgba($white, 0.5);
    }
  }

  &__hint {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: $white;
    text-decoration: none;
    transition: 0.25s ease-in-out;

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $inactive-color;
    }
  }

  &__icon {
    width: 24px;
    height: 32px;

    &-svg {
      stroke: $white;
      transition: 0.25s ease-in-out;
    }

  }

  &__hint:hover &__icon-svg {
    stroke: $hover-color;
  }

  &__span {
    @include desktop-text(table);
  }

  &__cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--in::before {
      animation: scale-out1 2s reverse ease forwards;
    }

    &--in::after {
      animation: scale-out2 2s reverse ease forwards;
    }

    &--out::before {
      animation: scale-out1 2s ease forwards;
    }

    &--out::after {
      animation: scale-out2 2s ease forwards;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 20%;
      width: 45%;
      aspect-ratio: 1;
      background-color: $blue;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 70%;
      left: 28%;
      top: 15%;
      aspect-ratio: 1;
      background-color: $white;
      border-radius: 100%;
    }

    &-image {
      width: 100%;
      z-index: 1;
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    align-items: center;

    &__content {
      gap: 25px;
    }

    &__image {
      width: 100%;
    }

    &__hint {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .hero {
    padding: 40px 20px 0;
    grid-template-columns: 1fr;
    gap: 0;

    &::before {
      width: 300px;
    }

    &::after {
      width: 200px;
    }

    &__content {
      padding: 40px 36px 0 56px;
    }
  }
}


@media (max-width: 600px) {
  .hero__title {
    @include mobile-text(h1);
  }

  .hero__content {
    padding: 0;
  }

  .hero__form-label {
    width: 100%;
  }
}