@use '../variables' as *;
@use '../mixins' as *;

@keyframes rotateIn {
  from {
    transform: rotateZ(-30deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(30deg);
  }
}

.promo {
  padding: 80px 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;
  background-color: $white;

  &__cover {
    width: 100%;

    &--in {
      animation: rotateIn 1.7s ease forwards;
    }

    &--out {
      animation: rotateOut 1.7s ease forwards;
    }
  }

  &__content {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    &-title {
      @include desktop-text(h1);
      color: $black;
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }
  }
}

@media (max-width: 1000px) {
  .promo {
    padding-top: 0;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 600px) {
  .promo {
    padding: 0 20px 40px;

    &__content {
      width: 100%;

      &-title {
        @include mobile-text(h1);
      }
    }

    &__form-span {
      width: 100%;
    }
  }
}