@use "../../mixins" as *;
@use "../../variables" as *;

.form-span {
  @include desktop-text(description);
  padding-left: 8px;
  width: 60%;
  color: #595959;
}

.form-span-link {
  color: $blue;
  text-decoration: none;
}

@media (max-width: 600px) {
  .form-span {
    @include mobile-text(description);
  }
}