@use "../../mixins" as *;
@use "../../variables" as *;

.main-button {
  @include desktop-text(span);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background-color: $white;
  color: $blue;
}

.main-button-primary {
  background-color: $blue;
  color: $white;
}