@use "../../mixins" as *;
@use "../../variables" as *;

.form-label {
  position: relative;
  padding: 0 8px 0 16px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  border: 1px solid rgba($white, 0.2);
  border-radius: 16px;
  background-color: $page;
  cursor: text;
  transition: 0.25s ease-in-out;

  & label {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 8px 20px #5E54A040;
  }

  &:active {
    box-shadow: 0 8px 20px #5E54A040;
  }
}

.form-label:has(input:focus) {
  outline: 2px solid rgba($blue, 0.8);
}