@use "../../mixins" as *;
@use "../../variables" as *;

.form-div {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  border: 1px solid rgba($white, 0.2);
  border-radius: 16px;
  background-color: $page;
}

.form-div:has(input:focus) {
  outline: 2px solid rgba($blue, 0.8);
}